<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:name=".presentation.app.PlayGroundApplication"
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_self_improvement_application"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.PlayGround"

        >

        <activity
            android:name=".presentation.ui.alarm.clock.lockscreen.ActivityLockScreenAlarm"
            android:theme="@style/AppTheme.Draggable"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".presentation.app.PlayGroundActivity"
            android:exported="true"
            android:theme="@style/Theme.MySplash"
            android:windowSoftInputMode="adjustPan"
            >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <receiver
            android:name=".presentation.ui.alarm.clock.AlarmReceiver"
            android:enabled="true"
            android:exported="true" >
        </receiver>

        <receiver
            android:name=".presentation.ui.alarm.clock.AlarmBroadcastReceiver"
            android:enabled="true"
            android:exported="true" />

        <service
            android:name=".presentation.ui.timer.ForegroundTimerService"
            android:description="@string/timer_foreground_service"
            android:enabled="true"
            android:exported="false" />
    </application>

</manifest>